@import url(reset.css);
@import url(style.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem__privacidade {
    width: 12rem;
}

.container__texto__titulo {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 24px 0;
}

.container__texto {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 16px;
}

strong {
    font-weight: 700;
}